$belaBoja:#fff;
$plavaBoja:#88a9b5;
$sivaBoja:#4c5d62;
$crnaBoja:#1e2429;
$belkastaBoja:#d7d7d9;
$braonBoja:#424c4e;
$sekundarna:#d8d8da;



@mixin flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


@mixin flexSpaceAround {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@mixin slika{
  background-repeat: no-repeat; 
  background-size: cover; 
}
@mixin border6{
  border-radius: 6px();
}


*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
  body{
    font-family: "Nunito", sans-serif;
    background-color: $sivaBoja;
    color: $belaBoja;
}

header {
    background-color: $sivaBoja; 
    color: $belaBoja; 
    padding: 10px; 
    text-align: center; 
   display: flex;
   justify-content: space-between;
    align-items: center; 
    height:80px ;
  }
  
  nav ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
  
  }
  
  nav ul li {
    margin-right: 25px; 
    position: relative;
    
  }
  
  nav ul li a {
    color: $belaBoja;
    text-decoration: none; 
    font-size: 15pt;
    position: relative;
  }
  nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover::after {
    background-color: $plavaBoja;
  }
  #logo{
    height: auto;
    width: 200px;
  }
  #logo img{
    width: 100%; 
    height: auto;
  }
  #pocetnaStranica{
    width: 100%;
    height: 640px;
    background-image: url('../img/pocetna.jpg');
    @include slika();
    background-position: 0px 0px;
  
}
    #pocetnaTekst{
        width: 40%;
        padding-top: 200px;
        padding-left: 100px;
        color:$belaBoja;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 5s steps(40, end);
        position: relative;
       
    }
    .tekstStil:nth-child(1) {
      animation: typing-h1 5s steps(40, end) forwards;
    }
    
    .tekstStil:nth-child(2) {
      animation: typing-h2 7s steps(40, end) forwards; 
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }
    
    #pocetnaTekst h1{
      font-size: 50px;
    }
    #pocetnaTekst h2{
      font-size: 30px;
    }
    .tekstStil{
      color:$plavaBoja ;
    }

    .about-me {
      width: 25%;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 40px;
    }
    
    .about-me h2 {
      font-size: 30px;
      text-align: center;
      color: $belaBoja;
    }

    #o-meni, #services {
      width: 100%;
      height: 650px;
    }
    
    .slika {
      width: 30%;
      height: 535px;
      border: $crnaBoja solid;
      margin-left: 10px;
      margin-top: 40px;
      background-color:$belkastaBoja;
      border-radius: 35px;
    }
    
    .slika img {
      width: 100%;
      height: 535px;
      border-radius: 35px;
    }
    
    .tekstOmeni {
      width: 40%;
      margin-top: 40px;
      color:$belaBoja
    }
    
    #kontejner {
      @include flexSpaceEvenly();
    }
    
    .tekstOmeni h3 {
      font-size: 25px;
      border-bottom: $belkastaBoja solid;
      font-weight: bold;
      color:$plavaBoja;
    }
    
    .tekstOmeni p {
      font-size: 21px;
      margin-bottom: 30px;
    }

    #services{
      background-color: $belkastaBoja;
    }
    .usluge {
      width: 25%;
      height: 350px;
      background-color: $sivaBoja;
      border-radius: 15px;
      border: $sivaBoja dotted;
      margin-top: 60px;
      text-align: center;
      color: $belaBoja;
    }
    
    #centriranje1 {
      width: 100%;
      height: 400px;
      @include flexSpaceEvenly();
    }
    
    .usluge h3 {
      font-size: 20pt;
      margin-bottom: 20px;
      color: $belaBoja;
    }
    
    .usluge i {
      font-size: 30pt;
      margin-top: 23px;
      margin-bottom: 10px;
      color: $plavaBoja;
    }
    


    #skills{
      width: 100%;
      height: auto;
    }
    #centriranje3 {
      height: 500px;
      @include flexSpaceEvenly();
      align-items: center;
      justify-content: center;
  
    }
    
    .container {
      position: relative;
      max-width: 1000px;
      width: 100%;
      background: $belaBoja;
      margin: 0 15px;
      padding: 10px 20px;
      @include border6();
    }
    
    .container .skill-box {
      width: 100%;
      margin: 25px 0;
    }
    
    .skill-box .title {
      display: block;
      font-size: 14px;
      font-weight: 600;
      color: $sivaBoja;
    }
    
    .skill-box .skill-bar {
      height: 8px;
      width: 100%;
      @include border6();
      margin-top: 6px;
      background: rgba(0, 0, 0, 0.1);
    }
    
    .skill-bar .skill-per {
      position: relative;
      display: block;
      height: 100%;
      width: 90%;
      background: $sivaBoja;
      @include border6();
    }
    
    .skill-per.css {
      width: 70%;
    }
    
    .skill-per.javaSCR {
      width: 70%;
    }
    
    .skill-per.SASS {
      width: 85%;
    }
    
    .skill-per.C {
      width: 80%;
    }
    
    .skill-per.Csarp {
      width: 65%;
    }
    
    .skill-per .tooltip {
      position: absolute;
      right: -14px;
      top: -28px;
      font-size: 9px;
      font-weight: 500;
      color: $belaBoja;
      padding: 2px 6px;
      border-radius: 3px;
      background: $sivaBoja;
      z-index: 1;
    }
    
    .tooltip ::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      height: 10px;
      width: 10px;
      z-index: -1;
      background-color: $sekundarna;
      transform: translateX(-50%) rotate(45deg);
    }

   
    #projekti {
      background-color: $sekundarna;
      height: 800px;
      width: 100%;
      // display: flex;
      // justify-content: space-evenly;
      flex-wrap: wrap;
    }
    
    .red{
      width: 100%;
      height: 300px;
       @include flexSpaceEvenly();
    }
    .projekti1 {
      position: relative;
      width: 46%;
      @include border6();
      border: $crnaBoja solid;
      height: 280px;
      overflow: hidden;
    }
    
    .projekti1 img {
      width: 100%;
      height: 100%; 
      object-fit: cover; 
    }
    
    .senka {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: $belaBoja;
      display: none; 
      justify-content: center;
      align-items: center;
      z-index: 1; 
    }
    
    .projekti1:hover .senka {
      display: flex; 
    }




    #contact-us {
      width: 100%;
      height: 80px;
      
      text-align: center;
      padding: 60px 0;
    }
    
    #contact-us h2 {
      font-size: 30px;
      color:$belaBoja
    }
    
    #kontaktirajte {
      width: 100%;
      @include flexSpaceEvenly();
      flex-wrap: wrap;
      height: 750px;
    }
    
    .container2 {
      width: 40%;
      padding: 20px;
      background-color: $crnaBoja;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border: $belaBoja solid;
      height: 600px;
    }
    
    .container2 h2 {
      text-align: center;
      margin-bottom: 20px;
      color: $belaBoja;
    }
    
    .container2 label {
      display: block;
      margin-bottom: 8px;
      color: $belaBoja;
    }
    
    .container2 input[type=text],
    .container2 input[type=email],
    .container2 textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid;
      @include border6();
      box-sizing: border-box;
      color: $crnaBoja;
    }
    
    .container2 textarea {
      resize: vertical;
      height: 120px;
    }
    
    .container2 input[type=submit] {
      background-color: $braonBoja;
      color: $belaBoja;
      border: none;
      padding: 10px 20px;
      @include border6();
      cursor: pointer;
      font-size: 16px;
      width: 100%;
    }
    
    .container2 input[type=submit]:hover {
      background-color: $plavaBoja;
    }
    
    .container1 {
      width: 40%;
      height: 600px;
    }
    
    iframe {
      width: 100%;
      height: 300px;
    }
    
    #container1 h2 {
      font-size: 30px;
    }
    
    footer {
      width: 100%;
      height: 100px;
      background-color: $crnaBoja;
      font-style: italic;
    }
    
    #mreze {
      width: 100%;
      height: inherit;
      text-align: center;
    }
    
    #mreze i {
      color: $plavaBoja;
    }
    
    #mreze a {
      font-size: 30pt;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    #mreze1 {
      text-align: center;
      width: 100%;
      height: 20px;
      background-color: $belaBoja;
    }
    #mreze1 p{
      color:$crnaBoja;
    }



    // RISPONSIVE//
    @media screen and (max-width: 1282px ){
        #pocetnaTekst h1{
          font-size: 42px;
        }
        #pocetnaTekst h2{
          font-size: 32px;
        }
    }
    @media screen and (max-width: 1207px ){
      .usluge p{
        font-size: 13px;
      }
    }
    @media screen and (max-width: 1100px ){
      #pocetnaTekst h1{
        font-size: 34px;
      }
      #pocetnaTekst h2{
        font-size: 24px;
      }
      #pocetnaStranica{
        height: 560px;
      }
  }
  @media screen and (max-width: 915px ){
    #pocetnaTekst h1{
      font-size: 30px;
    }
    #pocetnaTekst h2{
      font-size: 20px;
    }
    #pocetnaStranica{
      height:500px ;
    }


}
@media screen and (max-width: 844px ){
  .usluge p{
    font-size: 12px;
  }
  .usluge{
    height: 355px;
  }
}

  @media screen and (max-width: 800px ){
    #pocetnaTekst h1{
      font-size: 28px;
    }
    #pocetnaTekst h2{
      font-size: 18px;
    }
    nav ul li a{
      font-size: 11pt;
    }
    #logo img {
      width: 80%;
      height: auto;
      }
      
}
@media screen and (max-width: 740px ){
  #pocetnaTekst h1{
    font-size: 24px;
  }
  #pocetnaTekst h2{
    font-size: 14px;
  }
  #pocetnaTekst{
    padding-left: 50px;
  }
  #pocetnaStranica{
    height: 450px;
  }
  header nav {
    text-align: center;
  }
  header nav ul{
    display: flex; 
    justify-content: center; 
    padding: 0; 
  }
  header{
    height: 120px;
    display: block;
  }
  #logo{
    height: 100px;
    margin: auto;
  }
  #logo img{
    width: 60%;
    margin-bottom: 10px;
  }
  #o-meni{
    height: auto;
  }
  #kontejner{
    display: block;
  }
  .slika{
    margin: auto;
    width: 42%;
    height: 500px;
  }
  .slika img{
    height: 500px;
  }
  .tekstOmeni{
    margin: auto;
    margin-top: 30px;
    width: 42%;
    
  }
  .about-me h2{
    font-size: 26px;
  }
  #centriranje1{
    display: block;
  }
  .usluge{
    margin: 30px auto;
    width: 40%;
  }
  #services{
    height: 1350px;
  }
  .projekti1{
    margin: auto;
    margin-top: 10px; 
    width: 62%;
  }
  .red{
    height: 582px;
    display: block;
  }
  #projekti{
    height: 1350px;
  }
  #mreze a{
    font-size: 22pt;
  }
  footer{
    height: 70px;
  }
  .usluge p {
    font-size: 14px;
    }
 
}
@media screen and (max-width: 675px ){
  #pocetnaTekst h1{
    font-size: 20px;
  }
  #pocetnaTekst h2{
    font-size: 10px;
  }
  #pocetnaStranica{
    height: 400px;
  }
  .slika{
    width: 47%;
  }
  .tekstOmeni{
  
    width: 52%;
  }
  .projekti1{
    width: 80%;
  }
  .container2{
    margin: auto;
    width: 50%;
  }
  #kontaktirajte{
    height: 1300px;
    display: block;
  }
  .container1{
    margin: auto;
    width: 60%;
    margin-top: 25px;
  }
  .usluge h3 {
    font-size: 18pt;
  }
  .usluge {
    width: 60%;
  }

}
@media screen and (max-width: 560px ){
  #pocetnaTekst h1{
    font-size: 20px;
  }
  #pocetnaTekst h2{
    font-size: 10px;
}
  #pocetnaStranica{
    height: 350px;
  }
  #pocetnaTekst{
    width: 50%;
  }
  nav ul li a{
    font-size: 10pt;
  }
  .container2{
    width: 58%;
  }

}
